body{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
    font-family: "Libre Franklin", sans-serif;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.header{
    height: 730px;
    width: 100%;
    background: no-repeat center url("img/city.webp");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    color: white;
}
.container{
    display: flex;
    height: 93px;
    max-width: 1109px;
    padding: 100px 30px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.dropdown-menu{
    display: none;
 }
 label.hamburger {
    display: block;
    background: none;
    width: 40px; 
    height: 60px;
    position: relative;
    cursor: pointer;
 }
 
 input#hamburger {
   display:none
 }
 
 .line {
    position: absolute;
    height: 6px;
    width: 100%;
    background: white;
    transition: 0.5s;
 }
 .line:nth-child(1) { top: 12px; }
 .line:nth-child(2) { top: 24px; }
 .line:nth-child(3) { top: 36px; }
 
 #hamburger:checked + .hamburger .line:nth-child(1){
    transform: translateY(12px) rotate(-45deg);
 }
 
 #hamburger:checked + .hamburger .line:nth-child(2){
    opacity:0;
 }
 
 #hamburger:checked + .hamburger .line:nth-child(3){
    transform: translateY(-12px) rotate(45deg);
 }
.logo{
    font-size: 26px;
    font-weight: 700;
}
.menu{
    display: flex;
    gap: 50px
}
ul{
    list-style: none;
}
header li:nth-child(1){
    font-weight: 700;
}
header a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
header a:hover{
    color: rgb(171, 222, 69);
}
.header-texts{
    display: grid;
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1109px;
    height: 400px;
    align-items: center;
}
.title-text{
    font-size: 64px;
}
.main-text{
    font-size: 24px;
}
.works{
    padding-top: 70px;
    text-decoration: underline;
}
.about{
    display: flex;
    height: 540px;
    align-items: center;
    justify-content: center;
}
.about-text{
    width: 70%;
    color:#333333;
    text-align: justify;
}
.second-text{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 70px;
}
.portfolio-skills{
    display: flex;
    flex-direction: column;
    height: 693px;
    align-items: center;
    justify-content: center;
    background-color: #00000021;
    flex-direction: column;
}
.second-text-wrapper{
    width: 70%;
}
.skills-block{
    display: flex;
    width: 70%;
}
.portfolio-skills img{
    height: 400px;
    width: 330px;
    box-shadow: 0px 0px 60px #0000007d;
}
.skills{
    display: grid;
    width: 80%;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: min-content;
    row-gap: 24px;
    column-gap: 25px;
    margin-left: 70px;
}
.skills p{
    margin: 0;
    font-weight: 600;
}
.skills p:first-child{
    margin-bottom: 50px;
}
.progress-bar-outside{
    background-color: gray;
    width: 100%;
}
.progress-bar-inside-20{
    background-color: rgba(0, 0, 0, 0.41);
    height: 100%;
    width: 20%;
}
.progress-bar-inside-40{
    background-color: rgba(0, 0, 0, 0.41);
    height: 100%;
    width: 40%;
}
.progress-bar-inside-70{
    background-color: rgba(0, 0, 0, 0.41);
    height: 100%;
    width: 70%;
}
.portfolio{
    height: 822px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.portfolio .second-text-wrapper{
    margin-top: 100px;
}
.portfolio .second-text{
    position: relative;
    left: 0;
}
.portfolio-content{
    display: flex;
    width: 70%;
    
}
.portfolio-content img{
    width: 77%;
    height: 60%;
    margin: 150px 0 0 90px;
}
.portfolio-content p{
    margin: 60px 0;
    font-weight: 600;
}
.portfolio-content span{
    display: flex;
    text-align: justify;
    width: 349px;
}
.contact{
    display: flex;
    height: 428px;
    flex-direction: column;
    background-color: #00000021;
    justify-content: center;
    align-items: center;
}
.contact-information{
    display: flex;
    justify-content: space-around;
    width: 84%;
}
.contact-information ul{
    margin: 0;
}
.arrow{
    display: flex;
    align-items: flex-end;
}
.arrow-up{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    background-color: #00000000;
    cursor: pointer;
  }
@media (max-width: 1116px){
    .skills-block{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skills-block img{
        height: 44%;
        width: 32%;
        margin-bottom: 50px;
    }
    .portfolio-skills{
        height: 950px;
    }
    .second-text-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .portfolio .second-text-wrapper{
        margin-top: 0;
    }
    .portfolio-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .portfolio-content p{
        margin: 30px 0;
    }
    .portfolio-content img{
        margin: 20px 0 0 0;
    }
    .portfolio-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 800px){
    .dropdown-menu{
        display: flex;
        position: absolute;
        left: 0;
        margin-left: 50px;
    }
    .logo{
        font-size: 35px;
    }
    .menu{
        display: none;
        position: absolute;
    }
    .container{
        justify-content: center;
    }
    .header{
        justify-content: center;
    }
    .title-text{
        text-align: center;
        line-height: 70px;
        margin-bottom: 15px;
    }
    .main-text, .works, .second-text{
        text-align: center;
    }
    .about{
        height: 750px;
    }
    .second-text{
        margin-bottom: 30px;
    }
    .skills-block{
        width: 100%;
    }
    .skills-block img{
        height: 47%;
        width: 35%;
        margin-bottom: 50px;
    }
    .skills{
        grid-template-columns: 4fr 5fr;
        margin: 0;
    }
    .portfolio{
        height: 622px;
    }
    .portfolio-content span{
        width: 90%;
    }
    .contact-information{
        display: grid;
        left: 0;
        grid-template-columns: 2fr 2fr;
        grid-auto-rows: min-content;
        row-gap: 24px;
        column-gap: 25px;
        margin-left: 0;
    }
    .contact-information ul{
        padding: 0;
    }
    .arrow{
        margin-left: 60px;
    }
}
@media (max-width: 380px){
    .about{
        height: 870px;
    }
    .skills{
        grid-template-columns: 4fr 3fr;
    }
    .contact-information{
        column-gap: 0;
    }
}
@media (max-width: 340px){
    .about{
        height: 1070px;
    }
    .dropdown-menu{
        margin-left: 30px;
    }
}