*{
    box-sizing: border-box;
    margin: 0;
}
.block{
    position: relative;
    width: 1000px;
    margin: auto;
}
.swiper{
    margin-top: 50px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    width: 100%;
}
.title-text{
    font-size: 30px;
    margin: 3%;
    text-transform: uppercase;
    font-weight:400;
    text-align: center;
}
.swiper-wrapper{
    display: flex !important;
    position: relative !important;
    height: 450px !important;
;
}
.arrows{
    text-align: center;
    line-height: 50px;
    width: 50px !important;
    height: 50px !important;
    position: absolute !important;
    background-color: white;
    border: 3px solid lightgray;
    color: lightgray !important;
    border-radius: 100px;
    font-weight: bold;
    font-size: 25px;
    top: 140px !important;
    --swiper-navigation-size: 30px !important;
}
.arrows:hover{
    background-color: lightgray;
    color: white !important;
}
.swiper-button-next{
    right: -25px !important;
    
}
.swiper-button-prev{
    left: -25px !important;
}
.swiper-slide{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
}
.product{
    position: absolute;
    text-align: center;
    color: white;
    top: -40px;
    right: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.product-new{
    line-height: 70px;
    font-size: 18px;
    border: 1px solid green;
    background-color: green; 
}
.product-hit{
    line-height: 30px;
    font-size: 15px;
    border: 1px solid rgb(81, 182, 216);
    background-color: rgb(81, 182, 216);
}
.product-category{
    width: 85%;
    height: 16%;
    border-bottom: 2px solid lightgray;
    color: rgb(125, 125, 125);
    text-align: center;
    margin-top: 30px;
    line-height: 25px;
    font-size: 22px;
    text-transform: uppercase;
}
img{
    margin-top: 15px;
    width: 80%;
    height: 40%;
}
.product-name{
    margin-top: 15px;
    color: rgb(0, 149, 255);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.product-price{
    margin-top: 15px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
.Btn{
    position: relative;
    margin-top: 15px;
    width: 70%;
    height: 10%;
    border: 0px;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}
.buyBtn{
    background-color: darkred;
    cursor: pointer;
}
.buyBtn:hover{
    background-color: rgba(139, 0, 0, 0.800);
}
.noBtn{
    background-color: darkgoldenrod;
    bottom: -20px;
}

a{
    text-decoration: none;
}
@media(max-width: 1080px){
    .block{
        width: 800px;
    }
}
@media(max-width: 900px){
    .block{
        width: 500px;
    }
}
@media(max-width: 700px){
    .block{
        width: 300px;
    }
}
@media(max-height: 600px){
    .swiper{
        margin-top: 0px;
    }
    .title-text{
        margin-bottom: 0px;
    }
}
@media(max-height: 570px){
    .product-category{
        display: none;
    }
    .swiper{
        height: 350px;
    }
}